# PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# TOTVS Moda OAuth/API
TOTVS_TOKEN_URL=
TOTVS_ORDER_URL=
TOTVS_CLIENT_ID=
TOTVS_CLIENT_SECRET=
TOTVS_GRANT_TYPE=password
TOTVS_USERNAME=
TOTVS_PASSWORD=

# TOTVS order defaults
TOTVS_ORDER_ID_PREFIX=TRANSF-
TOTVS_BRANCH_CODE=
TOTVS_REPRESENTATIVE_CODE=32098
TOTVS_REPRESENTATIVE_CPF_CNPJ=
TOTVS_PAYMENT_CONDITION_CODE=1
TOTVS_PRIORITY_CODE=1
TOTVS_STATUS_ORDER=1
TOTVS_BATCH_ORDER=
TOTVS_ORDER_ITEM_PRICE_DEFAULT=0
TOTVS_SHIPPING_COMPANY_CODE=
TOTVS_FREIGHT_TYPE=

